<div class="form-medieval">
    <div class="row">
        <div class="col">
            <div class="habilidades-container">
                <h2 class="titulo-habilidades">🗡️ Habilidades</h2>
                <ol class="lista-habilidades">
                    <li>Espada larga</li>
                    <li>Arco compuesto</li>
                    <li>Hechizo de fuego</li>
                    <li>Sigilo</li>
                    <li>Persuasión</li>
                </ol>
            </div>
        </div>
        <div class="col">
            <div class="habilidades-container">
                <h2 class="titulo-habilidades">🗡️ Hechizos</h2>
                <ol class="lista-habilidades">
                    <li>Espada larga</li>
                    <li>Arco compuesto</li>
                    <li>Hechizo de fuego</li>
                    <li>Sigilo</li>
                    <li>Persuasión</li>
                </ol>
            </div>
        </div>



    </div>
</div>