<div class="seccion-caracter">
    <label for="rasgos">RASGOS DE PERSONALIDAD</label>
    <textarea id="rasgos" rows="3" placeholder="Describe los rasgos...">{{ player.personality_traits }}</textarea>

    <label for="ideales">IDEALES</label>
    <textarea id="ideales" rows="3" placeholder="Escribe los ideales...">{{ player.ideals }}</textarea>

    <label for="vinculos">VÍNCULOS</label>
    <textarea id="vinculos" rows="3" placeholder="Explica los vínculos...">{{ player.bonds }}</textarea>

    <label for="defectos">DEFECTOS</label>
    <textarea id="defectos" rows="3" placeholder="Menciona los defectos...">{{ player.flaws }}</textarea>
</div>
