<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    <div class="recuadro-madera">
        <div class="etiqueta-madera">ATQ</div>
        <div class="valor-madera">{{ player.attack }}</div>
    </div>
    <div class="recuadro-madera">
        <div class="etiqueta-madera">Velocidad</div>
        <div class="valor-madera">{{ player.speed }}</div>
    </div>
    <div class="recuadro-madera">
        <div class="etiqueta-madera">Defensa</div>
        <div class="valor-madera">{{ player.defense }}</div>
    </div>
    <div class="recuadro-madera">
        <div class="etiqueta-madera">Inteligencia</div>
        <div class="valor-madera">{{ player.intelligence }}</div>
    </div>
    <div class="recuadro-madera">
        <div class="etiqueta-madera">Carisma</div>
        <div class="valor-madera">{{ player.charisma }}</div>
    </div>
</div>
