<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dungeon Master - Panel</title>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dungeon_master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formPop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles.css') }}">
    <style>
        body{
            background-color: black;
        }
    </style>
</head>

<body>

    <!-- NAVBAR -->
    {% include 'partials/dungeon_master/navbar.html' %}
    {% include 'partials/dungeon_master/formPop.html' %}
    <br><br>

    <!--tabs-->
    <div class="tabs">
        <button class="tab active" data-tab="tab1">Tablero Jugadores</button>
        <button class="tab" data-tab="tabWeapon">Armaduras</button>
        <button class="tab" data-tab="tabMissions">Misiones</button>
        <button class="tab" data-tab="tabSpecies">Razas</button>
        <button class="tab" data-tab="tabClass">Clases</button>
    </div>

    <div id="tab1" class="tab-content active">
        {% include 'partials/dungeon_master/table.html' %}
    </div>

    <div id="tabWeapon" class="tab-content">
        
    </div>

    <div id="tabMissions" class="tab-content">
        {% include 'partials/dungeon_master/missions.html' %}
    </div>

    <div id="tabSpecies" class="tab-content">
        {% include 'partials/dungeon_master/species.html' %}
    </div>

    <div id="tabClass" class="tab-content">
        {% include 'partials/dungeon_master/class.html' %}
    </div>

    <script src="{{ url_for('static', filename='js/dungeon_master/messagePopCard.js') }}" defer ></script>
    <script src="{{ url_for('static', filename='js/dungeon_master/messagePopForm.js') }}" defer ></script>
    <script src="{{ url_for('static', filename='js/tab.js') }}" defer ></script>
</body>

</html>