<nav class="navbar">
    <div class="menu">
        <a href="#">Creación del Mundo</a>
        <div class="submenu">
            <a class="open-form-btn" data-form="create-character">Crear Personaje</a>
            <a href="#">Crear Enemigo</a>
            <a href="#">Crear Reino</a>
        </div>
    </div>
    <div class="menu">
        <a href="#">Personajes</a>
        <div class="submenu">
            <a class="open-form-btn" data-form="create-mission">Agregar nuevo Personaje</a>
        </div>
    </div>
    <div class="menu"><a href="#">Misiones</a></div>
    <div class="menu"><a href="#">Objetos</a></div>
    <div class="menu"><a href="#">Configuración</a></div>
</nav>