<nav class="navbar">
    <div class="menu">
        <a href="#">Creación del Mundo</a>
        <div class="submenu">
            <a href="#">Crear Enemigo</a>
            <a href="#">Crear Personaje</a>
            <a href="#">Crear Reino</a>
        </div>
    </div>
    <div class="menu"><a href="#">Personajes</a></div>
    <div class="menu"><a href="#">Misiones</a></div>
    <div class="menu"><a href="#">Objetos</a></div>
    <div class="menu"><a href="#">Configuración</a></div>
</nav>